# Whitelist mode (ignore everything)
*
# Whitelist self
!.gitignore
# Look into directories
!*/
#ygofab config files
!cards-*/config.toml
# BCOT
!cards-bcot/**/*.lua
# BCOR
!cards-bcor/**/*.lua
# BBTS
!cards-bbts/**/*.lua
!util-bbts.lua